.box {
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
}

body {
    margin: 0;
    padding: 0;

}

header {
  
    display: flex;
    justify-content: center;
    background-color: white;
  
}

.logo {
    height: 30px;
    text-align: center;
    position: relative;
}


.fa-arrow-left {
   position: absolute;
   top: 30px;
   left: 40px;
}

.img_head {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

main {
    background-color: #f2f2f2;
    border-radius: 2rem 2rem 0 0;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;

}

.titre {
    border-radius: 2rem 2rem 0 0;
    background-color: #f2f2f2;
    position: relative;
    top: -40px;
    width: 100%;
    height: 60px;
    }

h1 {
    font-family: 'Shrikhand', cursive;
    margin-left: 20px;
    font-size: 30px;
}

.coeur {
    position: absolute;
    top: 65%;
    right: 30px;
    
}

.coeur-plein {
    position: absolute;
    top: 65%;
    right: 30px;
    opacity: 0;
}

.coeur-plein:hover {
    opacity: 1;
    transition: 0.5s;
    color: #d54eb0;
    transition: 0.5s;
    
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    margin: 15px;
    margin-bottom: 25px;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
}

h2::after {
    content: "";
    height: 3px;
    width: 40px;
    background-color: #99e2d0;
    position: absolute;
    top: 20px;
    left: 0;
    
}

a {
    color: black;
    text-decoration: none;
    
}

.menu {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    height: 75px;
    margin: 15px;
    margin-top: 0;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 7px 7px 7px rgba(0,0,0,0.1);
    display: flex;
    overflow: hidden;
    
   
}

@keyframes apparition {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

#box_1-1 {
    animation-name: apparition;
    animation-duration: 1s;
    animation-delay: 0.7s;
    animation-timing-function: linear;
  
}

#box_1-2 {
    animation-name: apparition;
    animation-duration: 1s;
    animation-delay: 0.9s;
    animation-timing-function: linear;
}

#box_1-3 {
    animation-name: apparition;
    animation-duration: 1s;
    animation-delay: 1.1s;
    animation-timing-function: linear;
}

#box_2-1 {
    animation-name: apparition;
    animation-duration: 1s;
    animation-delay: 1.3s;
    animation-timing-function: linear;
}

#box_2-2 {
    animation-name: apparition;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-timing-function: linear;
}

#box_2-3 {
    animation-name: apparition;
    animation-duration: 1s;
    animation-delay: 1.7s;
    animation-timing-function: linear;
}

#box_3-1 {
    animation-name: apparition;
    animation-duration: 1s;
    animation-delay: 1.9s;
    animation-timing-function: linear;
}

#box_3-2 {
    animation-name: apparition;
    animation-duration: 1s;
    animation-delay: 2.1s;
    animation-timing-function: linear;
}

#box_3-3 {
    animation-name: apparition;
    animation-duration: 1s;
    animation-delay: 2.3s;
    animation-timing-function: linear;
}

.descriptif {
    padding-top: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.span-1 {
    font-weight: 500;
    font-size: 18px;
    display: inline;
    margin: 10px;
    margin-bottom: 15px;
    margin-top: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.span-2 {
    font-weight: 300;
    font-size: 15px;
    display: inline;
    margin-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.prix {
    margin-left: auto;
    margin-right: 20px;
    margin-top: 45px;
    width: 30px;
    font-weight: 500;
}

.check {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99e2d0;
    border-radius: 0 20px 20px 0;
    margin-right: -4rem;
    width: 4rem;
    transition: all 0.7s;
    flex-shrink: 0;
}

.menu:hover .check {
    margin-right: 0;
}

.fa-circle-check {
    color: white;
}

.menu:hover .fa-circle-check {
    animation-name: btn-check;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    transition-property: all;
   
}

@keyframes btn-check {
    0% {
        transform: rotate(-270deg)
    }
    100% {
        transform: rotate(0)
    }
}



.bouton-1 {
    width: 200px;
    height: 55px;
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 40%;
    font-size: 17px;
    border-radius: 40px 40px 40px 40px;
    border: none;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.2);
    background: linear-gradient(to bottom right,#FF79DA,#9356DC );
    color: white;
    font-family: 'Roboto', sans-serif;
   
}

.bouton-1:hover {
    box-shadow: 10px 10px 10px 2px rgba(0,0,0,0.25);
    opacity: 0.8;
}

footer {
    height: 210px;
    background-color: #353535;
}

.span-5 {
    display: inline-block;
    font-family: 'Shrikhand', cursive;
    color: white;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 40px;
}

li {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 7px;
}

.ft {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
}

.fa-utensils {
    padding-right: 8px;
}

.fa-handshake-angle {
    padding-right: 3px;
}


@media (min-width: 767px) {
    
    .bouton-1 {
        margin-left: 35%;
        margin-right: 35%;
    }

    .categories {
        margin-left: 12%;
        margin-right: 15%;
    }

    .menu {
        width: 100%;
    }

    h1 {
        margin-left: 12%;
    }
}


@media (min-width: 992px) {

.img_head {
    height: 500px;
}
main {
    flex-direction: column;
    flex-wrap: wrap;
}

h1 {
    margin-left: 5%;
}

.contenu {
 display: flex;
 flex-direction: row;
 margin-left: 50px;
 margin-right: 50px;
}

.menu {
    width: 400px;
}

.descriptif {
    margin-top: 15px;
}

.categories {
    width: 35%;
    margin-left: 10px;
    margin-right: 40px;
}

.descriptif {
    padding: 5px;
}

.check {
    margin-right: -5rem;
    width: 5rem;
}

.bouton-1 {
    margin-left: 40%;
    margin-right: 40%
}
}

