


.box {
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
}

body {
    margin: 0;
    padding: 0;
}

.loader {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    opacity: 1;
    height: 100%;
    inset: 0;
    animation: loader .01s;
    animation-name: loader;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-delay: 2s;
    z-index: 5;

}

@keyframes loader {
    0% {
        opacity: 1;
    
    }

    100% {
        opacity: 0;
        z-index: -10;
    }
}


.load-1 {
    font-family: 'Shrikhand', cursive;
    font-size: 75px;
    color: #9356DC;
    animation-name: load-1;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}


@keyframes load-1 {
    0% {color: #FF79DA;
        opacity: 1;
        }
        
    50% {color: #99e2d0;
    transform: scale(1.5);}

    85% {color: #9356DC;
    }

    100% {
    opacity: 0;
}

}

header {
    display: flex;
    flex-direction: column;
    align-items:  center;
}

.logo {
    max-width: 200px;
}

.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.localisation {
    width: 100%;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    height: 50px;
    padding-right: 0;
    margin-right: 0;
}

.fa-location-dot {
    margin-right: 15px;
}

.presentation {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #F2F2F2;
    height: 300px;
    padding-right: 0;
    margin-right: 0;
    margin-bottom: 50px;
}

.h1-1 {
    font-size: 25px;
    margin-right: 80px;
    margin-left: 80px;
}

.span-1 {
    font-size: 20px;
    font-weight: 100;
    
}

.bouton-1 {
    width: 230px;
    height: 55px;
    margin: 30px;
    font-size: 17px;
    border-radius: 40px 40px 40px 40px;
    border: none;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    background: linear-gradient(to bottom right,#FF79DA,#9356DC );
    color: white;
}

.bouton-1:hover {
    opacity: 0.8;
    box-shadow: 10px 10px 10px 2px rgba(0,0,0,0.25);
}

.h2-1 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-left: 7%;
   
    
}

.section-2 {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;

}

.fonctionnement {
    display: flex;
    align-items: center;
    background-color: #eaeaea;
    width: 85%;
    height: 75px;
    margin: 10px;
    margin-left: 27px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 5px 9px rgba(0,0,0,0.2);;
}

.fonctionnement:hover {
    background-color: rgba(147,86,220,0.2);
}

a {
    text-decoration: none;
    color: black;
}

.span-2 {
    font-weight: 500;
   
}

.chiffre-1, .chiffre-2, .chiffre-3 {

    position: relative;
    right: 9px;
}




.icone {
    margin-left: 25px;
    margin-right: 15px;
    opacity: 0.5;
}

.icone:hover {
    color: #9356DC;
    opacity: 1;
}

.numerotation {
    text-align: center;
    width: 25px;
    height: 25px;
    background-color: #9356DC;
    border-radius: 50%;
    color: white;
    font-size: 15px;
    line-height: 25px;
}




main {
    background-color: #F2F2F2;
    margin-top: 60px;
    padding-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

.h2-2 {
    padding-top: 50px;
    margin-left: 20px;
    font-size: 25px;
}

.card {
    height: 250px;
    margin: 15px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 7px 7px 7px rgba(0,0,0,0.1);
    margin-bottom: 25px;
}

.card-image {
    width: 100%;
    height: 70%;
    border-radius: 20px 20px 0px 0px;
    position: relative;
  }
  
.card-image img { 
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    
}

.card-body {
    width: 100%;
    height: 30%;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.span-3 {
    font-weight: 600;
    font-size: 18px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 6px;
   display: inline-block;
}

.span-4 {
    margin-left: 15px;
    font-size: 18px;
   
}

.coeur {
    position: absolute;
    top: 50%;
    right: 20px;
    
    
    
}

.coeur-plein {
    position: absolute;
    top: 50%;
    right: 20px;
    opacity: 0;
}

.coeur-plein:hover {
    color: #d54eb0;
    transition: 1s;
    opacity: 1;
}



.new {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 30px;
    background-color: #99e2d0;
    color: #139273;
    font-weight: 500;
    font-size: 15px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #99e2d0;
    position: absolute;
    top: 20px;
    right: 20px;

}

footer {
    
    height: 210px;
    background-color: #353535;
}

.span-5 {
    display: inline-block;
    font-family: 'Shrikhand', cursive;
    color: white;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 40px;
}

li {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 7px;
}

.ft {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
}


.fa-utensils {
    padding-right: 8px;
}

.fa-handshake-angle {
    padding-right: 3px;
}



@media (min-width: 767px) {
    
    .presentation {
        width: 100%;
    }

    .bouton-1 {
        margin-top: 70px;
    }

    .section-2 {
        margin-left: 30px;
    }

    .card {
        max-width: 80%;
        margin-left: 9%;
        margin-right: 9%;
    }

    .h2-2 {
       
        margin-left: 9%;
    }

    .fonctionnement {
        width: 80%;
        margin-left: 9%;
    }

    .h2-1 {
        margin-left: 9%;
    }
}


@media (min-width: 992px ) {
    
    .presentation {
        width: 100%;
    }

    .section-2 {

        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .h2-1 {
        
        margin-right: 70%;
    }

    .bouton-1 {

        margin-top: 60px;
    }

    .fonctionnement {
        
        margin-left: 20px;
        margin-right: 20px;
        width: 100%;
    }

    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .h2-2 {
        margin-right: 70%;
        margin-left: 2%;
    }

    .card {
        min-width: 45%;
        margin-left: 2%;
        margin-right: 3%;
    }
}